.navbar.is-white {
    height: 55px;
    background-color: white !important;
}

.navbar-menu.is-active{
    margin-top: -5px;
    padding-top: 0px;
    width: 100%;
}

.navbar-item.sign-login{
    background-color: white;
}

.navbar-end.home-header.is-active{
     padding-top: 0px;
     margin: 0px !important;
}


img{
    padding-left: 30px;
    height: 90px;
}
