@import "./custom-colors.scss";

.navbar.navbar-user.logged{
    background-color: white !important;
        .userName{
            color: white;
        } 
}

.userName::after{
    color: white;
}

.navbar-item.in-edit{
    background-color: $custom-purple !important;
}

.navbar-end.user-edit.is-active{
    margin: 0px;
}

.navbar-dropdown.logged{
    padding: 0px;
}


