@import "./custom-colors.scss";

.navbar.navbar-user{
    background-color: $custom-purple;
        .userName{
            color: white;
        } 
}

.navbar-item.has-dropdown{
    background-color: $custom-purple;
}

.navbar-end.user-edit.is-active{
    margin: 0px;
}

.navbar-dropdown.logged{
    padding: 0px;
}

.userName{
        color: $custom-purple;
    }


